.test-splash-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-splash-header{
    color: white;
    font-size: 50px;

}
